<div class="panel panel-default">
  <div class="panel-heading">カテゴリーから探す</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <%= render partial: "taxons_list", collection: categories, as: :taxon %>
      </ul>
    </div>
  </div>
</div>
