<div class="col-xs-6">
  <div class="btn-group pull-right" role="group">
    <%= link_to potepan_category_path(taxon.id, display: :grid) do %>
      <button type="button" class="btn btn-default <%= "active" if display == "grid" %>">
      <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
    <% end %>
    <%= link_to potepan_category_path(taxon.id, display: :list) do %>
      <button type="button" class="btn btn-default <%= "active" if display == "list" %>">
      <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
    <% end %>
  </div>
</div>
