<li>
  <%= link_to potepan_category_path(taxon.id) do %>
    <i class="fa fa-caret-right" aria-hidden="true"></i>
    <%= taxon.name %>
    <span>( <%= taxon.products.size %> )</span>
  <% end %>
</li>
