<%= provide(:title, @taxon.name) %>

<%= render "shared/page_header", page_header: @taxon  %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "categories_sidebar", categories: @categories %>
        <%= render "brand_sidebar", brands: @brands %>
        <%= render "price_sidebar" %>
        <%= render "color_sidebar" %>
        <%= render "size_sidebar" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render "filter_area" %>
          <%= render partial: "display_select", locals: { taxon: @taxon, display: @display } %>
        </div>
        <div class="row">
          <%= render partial: @display == "grid" ? "shared/product_grid" : "shared/product_list",
            collection: @products,
            as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "partner_logos" %>
