<% provide(:title, @product.name) %>

<%= render "shared/page_header", page_header: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render partial: "single_product", locals: { product: @product, images: @images } %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "shared/product_grid", collection: @related_products, as: :product %>
    </div>
  </div>
</section>


